body {
  background: #cccccc;
  text-align:center;
}
h2{
  padding-top: 0.5%;
}

.banner{
  width: 100%;
  height: auto;
}
#imagen-ahorcado {
  height: 300px;
  padding-top: 20px;
}

.respuesta {
  letter-spacing: 10px;
}

.info,
.mas-info,
.input,
.respuesta,
.reset,
h3 {
  color: purple;
  margin-top: 25px;
  
}
